
<div class="Questionstyle" *ngIf="currentQuestionIndex >= 0 && currentQuestionIndex < questions.length">
  <h4>{{ questions[currentQuestionIndex].question }}</h4>
  <div class="Questionstyle" *ngFor="let option of questions[currentQuestionIndex].options; let i = index">
    <p-radioButton
      [name]="'options' + currentQuestionIndex"
      [label]="option"
      [value]="i"
      [(ngModel)]="selectedOptionIndex"
    ></p-radioButton>
    <br>
    <br>
  </div>
  <br><br>
  <br><br>
  <br><br> <!-- <p-button (click)="checkAnswer()" [disabled]="selectedOptionIndex === null">Check Answer</p-button>-->
  <p-button (click)="previousQuestion()" [disabled]="currentQuestionIndex === 0">Previous</p-button> &nbsp; &nbsp;
  <p-button (click)="nextQuestion()" [disabled]="!isAnswerChecked">Next</p-button>
</div>


<div *ngIf="currentQuestionIndex === questions.length" class="test">
 &nbsp;&nbsp; <h2>You have complited your task</h2>
 &nbsp; &nbsp;<p>Thank you</p>
 &nbsp; <p-button [disabled]="!isQuestionnaireComplete" (click)="submitQuiz()">Submit Answers</p-button>
 <br>
 <br>
 <div *ngIf="isQuestionnaireComplete">
  <p>Correct answers: {{ correctAnswers }}</p>
  <p>Total questions: {{ totalQuestions }}</p>
  <p>Quiz score: {{ scorePercentage }}%</p>
</div>
</div>

