/*
*{
    background-color: var(--primary-100);
    color: var(--surface-800);
    

}

*{
    background: var(--green-300);
}
*/
body{
    background: var(--green-300);
}

.Questionstyle{
text-align: center;}

:host ::ng-deep .p-dropdown {
    width: 300px;
}
  

  
:host ::ng-deep .p-dropdown-clearable {
    background-color: rgb(255, 255, 255);
    font-weight: bold;
}

.highlight-button {
    transition: background-color 0.3s ease-in-out;
  }
  
  /* Add a hover effect to the button (optional) */
  .highlight-button:hover {
    background-color: #f0f0f0; /* Change the background color on hover */
  }

  
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100vw;
    padding-top: 10px;
    color: #fff;
  
  }
  
  .footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .p{
    text-align: center;
  }